<!-- Bottom panel contents -->
<div class="panel-body">
	<div style="float:right; max-width:50%;">
		<div class="btn-group btn-group-sm"><%= records_per_page %>:</div>
		<div class="btn-group btn-group-sm">
			<select id="show_records_per_page" class="selectpicker show-tick">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</div>
	</div>
	<div class="input-group">
		<%= showing %> <span id="showing_limit"></span> (<span id="showing_from"></span> <%= _to %> <span id="showing_to"></span>) <%= _of %> <span id="showing_total"></span> <%= _entries %>
	</div>
</div>
